.img-size {
    width: 500px;
    height: 500px;
}

.bg-img {
    background-image: url('https://i.imgur.com/KWHgfyy.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.padding-50 {
    padding: 50px 0;
}